<!DOCTYPE html>
<html lang="fi">
<head>
  <title>{{flatpage.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container col-sx-12 col-md-6" >
  <h3>{{flatpage.title}}</h3>
  {{flatpage.content}}
  <a href="https://tilajakamo.fi">Tilajakamo.fi</a>
</div>

</body>
</html>
